[submodule "lib/csp"]
	path = lib/csp
	url = https://github.com/spaceinventor/libcsp
	branch = 6d0c670ac1c31b43083ab157cd2ed66a2ae8df35
[submodule "lib/param"]
	path = lib/param
	url = https://github.com/spaceinventor/libparam/
	branch = 768970c6320a455250ddd88903bbd9f58db81216
